ve
pypyenv
local_settings.py
pip-log.txt
secret.txt
*.*~
*.bak
*.dia.autosave
*.log
*.orig
*.pyc
*.swo
*.swp
*.vim
*.xls
.project
.pydevproject
.#*
mm
minimongo
python-odesk
*.doit.db
.env/*
.venv
._bootstrap.etag
.coverage
.doit.db.db
lettuce-out.xml
jslint.xml
pylint.txt
junit-reports/*
upload/*
docs/build/*
.settings*
*.DS_Store
.external*